<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="tests" thread-count="2">
    <test name="Test1">
        <parameter name="browser" value="${browser}"/>
        <parameter name="gridURL" value="${gridURL}"/>
        <classes>
            <class name="Tests.HomePageTests"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="Tests.AuthorizationPageTests"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="Tests.SqlExercisesPageTest"/>
        </classes>
    </test>
</suite>